*.pyc
__pycache__/
*.py[cod]
*$py.class

*.so

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

*.log
local_settings.py

db.sqlite3

staticfiles/
media/

.DS_Store
*.swp
*.swo
*~

.idea/
.vscode/
*.iml

static/